.carousel{
    width: 68%;
    height:600px;
    background-color: white;
    border-radius:5px;
    box-shadow: 0 0px 14px -2px black;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:40px;
    overflow: hidden;
    cursor: grab;
    
}
.inner-carousel{
    display: flex;
    gap:40px;
}
@media only screen and (max-width: 1023px) {
    .carousel{
        width: 80%;
       
    }
}
@media only screen and (max-width: 580px){
    .carousel{
        width: 96%;
        height:580px;
    }
}
@media only screen and (max-width: 321px){
    .carousel{
        width: 100%;
    }
}