.resume-heading {
    display: flex;
    flex-direction: column;
  }
  
  .resume-main-heading {
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  
  .resume-main-heading span {
    color:#1f2235;
    font-size: 16px;
    font-family: "Poppins SemiBold";
  }
  .heading-bullet {
    position: absolute;
    left: -30px;
    height: 15px;
    width: 15px;
    top: 5px;
    border-radius: 50%;
    background-color: #23263b;
  }
  
  .resume-sub-heading {
    font-size: 14px;
    font-family: "Poppins SemiBold";
    color: #696969;
    margin: 10px 0 0 0;
  }
  
  .resume-heading-description {
    font-size: 12px;
    text-align: justify;
    color: #696969;
  }
  
  .heading-date {
    background-color: #23263b;
    padding: 4px 12px;
    font-size: 14px;
    border-radius: 14px;
    color: white;
  }
  @media only screen and (max-width: 580px){
    .resume-main-heading span {
      font-size: 16px;
    }
    .heading-bullet {
      position: absolute;
      left: -20px;
      height: 4px;
      width: 4px;
      top: 5px;
      border-radius: 50%;
    }
  }
  @media only screen and (max-width: 321px){
    .heading-bullet{
      display: none;
    }
  }