.contact-container{
    height:100vh;
    margin-top:20px;
    display:flex;
    flex-direction: column;
}
.contact-content{
    flex: 1;
    display: flex;
    justify-content:center;
    align-items:center;

}
.contact-form-container{
    max-width:1100px;
    background-color: #23263b;
    box-shadow:0 0px 20px -2px  #23263b;
    display: flex;
    border-radius:2px;
}
.footer-container{
    height:240px;
    background-color: #23263b;
    color:white;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:20px;
}
.imgContainer{
    width:100px;
}
.imgContainer img{
    width:100%;
}
.footer-social{
    display:flex;
    gap:30px;
}
.copyRights{
    font-style: italic;
}
.contact-mail{
    width:50%;
    height:600px;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
}
.contact-mail img{
    width:100%;
    border-radius:2px;
    padding:0px 40px;
}
.contact-mail p{
    color:white;
    font-size:28px;
    text-align: center;
    margin-top:20px;
}
.contact-form{
    width:50%;
    display: flex;
    justify-content:center;
    align-items:center;

}
.form-content{
    background-color:white;
    border-radius:5px;

}
.form{
    display:flex;
    flex-direction: column; 
    padding:40px;
}
.form label {
    margin: 5px 0px;
    color: #111;
    letter-spacing: 0.2rem;
  }
  
  .form .input,
  .textarea {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1.5rem;
    font-size: 1.1rem;
    margin-bottom: 8px;
    transition: 0.3s;
    border-radius: 10px;
  }
  
  .textarea:focus {
    border: 2px solid  #23263b;
    background-color: #fff;
  }
  .form .input:focus {
    border: 2px solid  #23263b;
    background-color: #fff;
  }
  
  .form button {
    margin-top: 15px;
    padding: 5px;
    outline: none;
    width: 900px;
    color: rgb(230, 227, 227);
    border: 2px solid  #23263b;
    font-size: 12px;
    border-radius: 19px;
    background-color:  #23263b;
    font-size: 18px;
    width: 160px;
    align-items: center;
    justify-content: center;
  }
  
  .form button:hover {
    background-color: #23263b;
    transition: all ease 1s;
    border: 2px solid  #B14238;
  }
  .btn-contact-footer-scroll{
      display:flex;
      justify-content:center;
      align-items:center;
      margin-bottom:20px;

  }

  @media screen and (max-width: 800px){
    .contact-form-container{
        flex-direction:column-reverse;
        justify-content:center;
        align-items:center;
        width:90%;
        margin-bottom:40px;
        padding:40px;

    }
    .contact-form{
        width:90%;
    }
    .contact-mail{
       display:none;
    }
    .copyRights{
        font-size: 12px;
    }
    .footer-container{
        gap:10px;
    }
  }