header{
    margin-top:60px;
    margin-bottom: 60px;
}
.header-container{
    display: flex;
    justify-content:center;
    height:140px;
    color:white;
}
.header-parent{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    width:70%;
    color: white;
}
.header-logo{
 font-size: 50px;
 color: white;
}
.header-options{
    display:flex;
    align-items:center;
}
.header-option{
    font-size: 16px;
    cursor: pointer;
    font-weight: bolder;
}
.header-hamburger{
    display:none;
    color:white;
}
@media screen and (max-width: 768px){
    header{
        margin-top:20px;
        margin-bottom: 40px;
    }
}