header{
    position:fixed;
    width:100%;
    top:0px;
    background-color: #1f2235;
    z-index:100;
}
.header-container{
    display: flex;
    justify-content:center;
    height:100px;
    color:white;
}
.header-parent{
    display:flex;
    align-items: center;
    justify-content: space-between;
    height:100%;
    width:70%;
    color: white;
}
.header-logo img{
 width: 180px;
}
.header-options{
    display:flex;
    align-items:center;
}
.header-option{
    font-size: 20px;
    cursor: pointer;
    font-weight: bolder;
    margin-left: 20px;
}
.header-hamburger{
    display:none;
    color:white;
}
.header-option-seperator {
    margin: 0 50px 0 0;
    color: white;
  }
  .selected-header-option {
    color: #90028D;
  }
@media screen and (max-width: 1380px){
  .header-container{
    align-items:center;
    height:80px;
   
}
    .header-parent{
      
        width:80%;
        
    }
    .header-hamburger {
        display: block;
      }
      .header-parent {
        width: 100%;
        padding: 0 40px;
        position: relative;
        margin: 20px 0;
      }
      .header-options {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: -100%;
        transition: all 0.8s ease-out;
        top: 0px;
        height: 100vh;
        width: 100%;
        justify-content: space-around;
        background-color: #1f2235;
        z-index: 1000;
        opacity: 0.3;
        border-top-right-radius:200px;
      }
      .header-option-seperator {
        margin: 0;
      }
      .selected-header-option {
        color: white;
      }
      .header-hamburger-bars {
        font-size: 36px;
        cursor: pointer;
        margin: 0px 10px;
        color: white;
      }
      .show-hamburger-options {
        left: 0;
        opacity: 1;
      }
      .header-logo img{
        width: 100px;
       }
}