.home_container{
    background-color: #23263b;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;

}
.home_footer{
    height:65px;
    background-image: radial-gradient(#90028D 2px, transparent 2px);
background-size: 16px 16px;
background-color:#23263b;
}

