.home_container{
    background-color: #23263b;
    min-height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    /*gap: 200px;*/

}
.home_footer{
    height:200px;
}
.home_footer img{
    width: 100%;
    height:200px;
}
